

h2 {
  color: blue;
}

body {
  background-image: url("../img/carDog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.topnav {
  background-color: white;
  overflow: hidden;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  margin: auto;
  padding: 0px;
  vertical-align: middle;

}

a img {
  padding: 20px;
  height: 80px;
}

.mainLogo {
  padding: 0px;
  height: 120px;
}
